<app-menu-platzi-store></app-menu-platzi-store>
<div>
    <div class="product-grid">
        <div class="container" *ngFor="let products of products"> 
            title= {{products.title | uppercase}}
            <img [src]=products.image alt="products.description">
            price = {{products.price | currency: 'EUR'}}
            description={{products.description | slice:0:6 }}
        </div>
    </div>
    
    <div>
        <button (click)="Comprar()" >Comprar!!</button>
        <p>este es un parrafo de prueba para la Entrada = {{Entrada}}</p>
    </div>
</div>