<mat-toolbar color="primary">
  <mat-toolbar-row>
    <div class="row between-xs middle-xs header-row">
      <div>
        <nav *ngFor="let i of menu">
          <a
            mat-button
            routerLink="/{{i}}" 
            routerLinkActive="active">{{i}}
          </a>
        </nav>
      </div>
      <div>
        <a mat-raised-button matBadge="4" matBadgeColor="accent">
          <mat-icon>shopping_cart</mat-icon>
          Carrito
        </a>
      </div>
      </div>
  </mat-toolbar-row>
</mat-toolbar>

<!-- <div>
  <p>This is a project Platzi Store</p>
  <nav>
      <ul>
          <li *ngFor="let i of menu" >
              <a 
                routerLink="/{{i}}" 
                routerLinkActive="active">{{i}}
              </a>
          </li>
      </ul>
  </nav>
</div> -->

<div class="swiper-container">
    <div class="swiper-wrapper">
        <div class="swiper-slide" *ngFor="let img of images">
            <img [src]="img" alt="imagen de banner">
        </div>
    </div>
</div>

<!-- <div class="swiper-container">
    <div class="swiper-wrapper">
      <div class="swiper-slide" *ngFor="let img of images">
        <img [src]="img" alt="" />
        <div class="swiper-button-next"></div>
        <div class="swiper-button-prev"></div>
      </div>
    </div>
  </div> -->

